@CHARSET "ISO-8859-1";

#httpLoadingSpinner {
  width: 200px;
  height: 60px;
  text-align: center;
  font-size: 10px;
  position: fixed;
  top:50%;
  left:50%;
  margin-top:-30px;
  margin-left:-100px;
  z-index:1100;
  -webkit-transition:all linear 0.2s;
  -moz-transition:all linear 0.2s;
  -o-transition:all linear 0.2s;
  transition:all linear 0.2s;
  opacity:0;
}

#httpLoadingSpinner.loading-visible {
    opacity:1;
}

#httpLoadingSpinner > div {
  background-color: #333;
  border:1px solid #444;
  height: 100%;
  width: 7px;
  display: inline-block;
  margin-right:3px;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

#httpLoadingSpinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

#httpLoadingSpinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

#httpLoadingSpinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

#httpLoadingSpinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}